<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.servicelogin.dao.UserMapper">
    <select id="findAll" resultType="com.zhou.servicelogin.bean.User">
        select * from login_user
    </select>
    <select id="checkUser" resultType="java.lang.Integer" parameterType="com.zhou.servicelogin.bean.User">
        select count(*) from login_user where username=#{username} and password=#{password}
    </select>
</mapper>